/* Define theme variables. Values will be injected by the Streamlit app. */
:root {
    --background-color: #212121;
    --text-color: #FFFFFF;
    --panel-color: #B87333;
    --panel-hover-color: #d48c46;
}

.reportview-container {
    background-color: var(--background-color);
}

.sidebar .sidebar-content {
    background-color: #2E2E2E;
    border-right: 2px solid #4A4A4A;
    box-shadow: 5px 0px 15px rgba(0,0,0,0.3);
}

h1 {
    text-align: center;
    padding-bottom: 20px;
}

body, h2, h3, .stRadio, .stSelectbox, .stNumberInput {
    color: var(--text-color);
}

.stDownloadButton > button, div[data-testid="stFormSubmitButton"] button {
    background-color: var(--panel-color);
    color: #FFFFFF;
    border: 1px solid #000000;
    font-weight: bold;
}

.stDownloadButton > button:hover, div[data-testid="stFormSubmitButton"] button:hover {
    background-color: var(--panel-hover-color);
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.st-emotion-cache-1g8w9s4 p {
    color: #A0A0A0;
    font-size: 16px;
}

.st-emotion-cache-fplge9 div {
    font-size: 32px;
    color: var(--panel-color);
    font-weight: bold;
}
